// Grey
$grey-0: #cccccc;
$grey-10: #f1f1f1;
$grey-20: #e8e8e8;
$grey-30: #3c3c3c;
$grey-40: #181818;

// Green
$green-10: #1bb157;

// Blue
$blue-10: #334bfa;

// White
$white-10: #fff;

// Black
$black-10: #000;
